body{
    background-color: rgb(239, 216, 181);
}
.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}
.main{
    height: 380px;
    width: 300px;
    border: 1px solid black;
    text-align: center;
    border-radius: 20px;
    background-color: blanchedalmond;
}
.button{
    border-radius: 10px;
}
#result{
    margin-top: 10px;
}